CompileFlags:
  Compiler: C:/msys64/mingw64/bin/c++.exe
  CompilationDatabase: C:/Users/TECHCOM/Desktop/Port/build-msys
  Add:
    - -IC:/Users/TECHCOM/Desktop/Port/include
    - -std=c++23
    - -D_WIN32
    - -DWIN32
    - -DNOMINMAX
    - -D_WIN32_WINNT=0x0601

Diagnostics:
  UnusedIncludes: None

Index:
  Background: Build
